@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --main-color: #393536;
    --secondary-color: #218575;
    --accent-color: #ff680a;
}

.about{
    padding: 10px;
    height: auto;
    max-height: 600px;
    overflow-y: auto; /* Add overflow-y to enable vertical scrolling */
    justify-content: center;
    text-align: center;
    color: var(--main-color);
}

.about .wrapper {
    background-color: white;
    height: 800px;
}

.about h1 {
    background-color: var(--accent-color);
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px;
}

.team {
    color: var(--main-color);
    font-size: 60px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    padding: 10px;
}

.person {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.person p{
    color: var(--main-color);
}

.person a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-top: 20px;
}

.person:hover{
    color: var(--secondary-color);
}