.about .wrapper {
  background-color: #003049;
  height: 800px;
}

.about h1 {
  background-color: #003049;
  color: azure;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  color: azure;
  justify-content: center;
  background: #003049;
  font-size: 3rem;
  /* Adjust font size for responsiveness */
  height: auto;
  /* Remove fixed height */
  padding: 20px;
  /* Add padding for spacing */
}

@media (min-width: 768px) {

  /* Apply styles for larger screens */
  .about {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust grid columns for responsiveness */
    font-size: 4rem;
    /* Increase font size for larger screens */
  }
}

.name {
  margin: 20px;
}