@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --main-color: #393536; 
    --secondary-color: #218575;
    --accent-color: #ff680a;
}

.homePage{
    padding: 20px;
    height: 600px;
    justify-content: center;
    text-align: center;
}

.homePage h2{
    text-align: center;
    justify-content: center;
    color: var(--accent-color);
    font-size: 40px;
    font-weight: 800;
    padding-top: 0px;
}

.homePage p{
    margin: 0px;
    color: var(--main-color);
}
.probar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    width: 200px;
}

@media(max-width:576px) {
    .homePage{
        padding: 5px;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .homePage h2{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
    }
    .probar {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
        justify-content: space-around;
        text-align: center;

    }
}