/* Import CSS variables */
@import "./vars.css";


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .App {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}